<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.artsfx.servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerProjet</servlet-name>
        <servlet-class>com.artsfx.servlets.CreerProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterTache</servlet-name>
        <servlet-class>com.artsfx.servlets.AjouterTache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeplacerTache</servlet-name>
        <servlet-class>com.artsfx.servlets.DeplacerTache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Affichage</servlet-name>
        <servlet-class>com.artsfx.servlets.Affichage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDonnees</servlet-name>
        <servlet-class>com.artsfx.servlets.UpdateDonnees</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>UpdateTache</servlet-name>
        <servlet-class>com.artsfx.servlets.UpdateTache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerProjet</servlet-name>
        <url-pattern>/CreerProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterTache</servlet-name>
        <url-pattern>/AjouterTache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeplacerTache</servlet-name>
        <url-pattern>/DeplacerTache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affichage</servlet-name>
        <url-pattern>/Affichage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDonnees</servlet-name>
        <url-pattern>/UpdateDonnees</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>UpdateTache</servlet-name>
        <url-pattern>/UpdateTache</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name> InscrireUtilisateur</servlet-name>
        <servlet-class> com.artsfx.servlets.InscrireUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.artsfx.servlets.Connexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> InscrireUtilisateur</servlet-name>
        <url-pattern> /InscrireUtilisateur </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.artsfx.servlets.Inscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/WEB-INF/pages/crationprojet.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/enregistrement.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/inscription.jsp</url-pattern>
            <url-pattern>/WEB-INF/pages/index.jsp</url-pattern>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
</web-app>
